# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Data
data/battery_data/*.mat
data/external/

# Outputs
# results/
# figures/
checkpoints/
logs/
*.onnx

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
notebooks/*.html

# Env
.env
.venv/
